{% extends './login.html' %}
{% load i18n allauth %}

{% block login-logout-title %}
<h1 style="color: rgb(112, 7, 7); border-bottom-color: rgb(112, 7, 7);">Password Change</h1>
{% endblock %}



{% block remember-me %}
{% endblock %}

{% block login-signup-form %}
<form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    <div class="stretch-full hover-focus">
        {{form.oldpassword}}
    </div>
    <div class="stretch-full hover-focus">
        {{form.password1}}
    </div>
    <div class="stretch-full hover-focus">
        {{form.password2}}
    </div>
    <div class="stretch-full error">
        {% if form.oldpassword.errors %}
        <p>Entered password is not correct!</p>
        {% endif %}
        {% if form.password1.errors %}
        <p>Password doesn't match the requirements!</p>
        {% endif %}
        {% if form.password2.errors %}
        <p>Passwords doesn't match</p>
        {% endif %}
    </div>
    <button style="border-radius: 5px; font-size: 1.1rem; background-color: rgb(80, 80, 241); color: white; font-weight: bold; padding: 10px; margin-top: 10px; margin: auto; width: fit-content;" type="submit">Change password</button>
</form>
{% endblock %}